/* main */
.main{
    width: 1280px;
    margin: 0 auto;
    
}
body{
  background-color: #F1F1F3;
}
/* nav */
.nevigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 32px;
    color: #0E0E0E;
  }
  .nav-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
border-radius: 8px;
  }

/* body */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    /* font-weight: 400; */
    font-style: normal;
  }

  /* banner */
  .banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;

    padding-left: 60px;
    padding-right: 60px;
    gap: 64px;
    border-radius: 24px;
    margin-bottom: 80px;
  }
  .banner-image{
    width: 474px;
    height: 400px;
    
  }
  .banner-column1{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .banner-column2{
    padding-top: 117px;
    padding-bottom: 117px;
  }
  .column-sub-tiltle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 600;
    /* margin-top: 0px; */
    margin-bottom: 16px;
  }
  .column-title{
    font-size: 57px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .banner-btn{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 17px 34px;
    margin-top: 0px;
    border-radius: 8px;
    border: none;
    
  }
  /* pillar */
  .all-pillar-column{
    display: flex;
    gap: 24px;
  }
  .pillar-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    
  }
  .pillar-subtitle{
 font-size: 20px;
 font-weight: bold;
 color: #0E0E0E;
  }
 .pillar-description{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
 }
 .pillar-column{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
 }
  /* shared */
  .future-section-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
   }
   .future-btn{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 11px 20px;
   }
   .margin-zero{
    margin-bottom: 0px;
    margin-top: 12px;
   }
   .future-title{
    color:#0E0E0E;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
   }
 /* future */

 .all-future-column{
  display: flex;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  
 }


 .future-pri-description{
  margin-bottom: 0px;
 }
 
 .future-subtitle{
  font-size: 20px;
  font-weight: bold;
  color: #0E0E0E;
  margin-top: 24px;
 }
 .future-column1{
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
  border-radius: 8px;
  width: 411px;
  
  
 }
 
 .future-column2{
  background-color: rgba(198, 228, 214, 1);
  padding: 32px;
  border-radius: 8px;
  width: 411px;
 }
 .future-column3{
  background-color: rgba(247, 235, 207, 1);
  padding: 32px;
  border-radius: 8px;
  width: 411px;
 }
 .future-btn3{
  background-color: rgba(255, 194, 57, 1);
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  margin-bottom: 24px;
 }
 .future-btn2{
  background-color: rgba(9, 161, 92, 1);
  border-radius: 8px;
  border: none;
  margin-top: 48px;
  margin-bottom: 32px;
 }
  .future-btn1{
  background-color: rgba(84, 144, 245, 1);
  border-radius: 8px;
  border: none;
  margin-top: 24px;
  margin-bottom: 32px;
 }
 /* yunus quote */

 .yunus-quote{
  background-color: #FFFFFF;
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  background-position: 24px 35px;
  border-radius: 16px;
  border: none;
  width: 1280px;
  margin-bottom: 80px;
  margin-top: 32px;
 }
 .quote{
  /* background-image: url('../assets/quote-bg.png'); */
  padding: 48px 24px;
 }
 .all-future-column{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);

 }
 .quote-title{
  font-size: 20px;
  font-weight: 500;
  color: #0E0E0E;
  margin-top: 12px;
  margin-bottom: 10px;
 }
.quote-subtitle{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
  margin-top: 0px;
}
/* table */
.table-data{
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 600;
}
.section-table{
  background-color: #FFFFFF;
  width: 100%;
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 80px;
}
.table{
  width: 100%;
  border-collapse: collapse;
}

.table-header{
  border-top: 1px solid rgba(14, 14, 14, 0.15);
  border-left:1px solid rgba(14, 14, 14, 0.15) ;
  border-right: 1px solid rgba(14, 14, 14, 0.15);
 background-color: rgba(198, 228, 214, 1);

}
.table-header1{
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 24px;
  font-size: 20px;
  font-weight: 600;
}
.table-header2{
  font-size: 20px;
  font-weight: 600;
}
.table-selection{
  background-color: rgba(198, 228, 214, 1);
  padding: 17px ;
  
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}
.table-data1{
  padding-left: 60px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  
}

/* news */
.news-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 24px;
  margin-bottom: 32px;
  width: 100%;
}
.news-title{
  margin-top: 0px;
  margin-bottom: 32px;

}
/* satellite news */
.satellite-column{
  display: flex;
  margin-bottom: 24px;
  margin-top: 0px;
  gap: 32px;
  background-color: #FFFFFF ;
  padding: 48px;
  border-radius: 24px;
  width: 100%;
}
.satellite-img{
  border-radius: 24px;
  width: 408px;
}
.satellite-subtitle{
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
}
.news-img{
  margin-top: 12px;
}
.satellite-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.satellite-btn{
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: rgba(0, 106, 80, 1);
  padding: 13px 26px;
  margin-top: 32px;
  border-radius: 8px;
}